<html>
<head>
  <title>Vote On A Poll</title>
  <script>window.INITIAL_STATE = <%-JSON.stringify(data)%>;</script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.js"></script>
  <script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
  <script type="text/javascript" src="/assets/js/votive.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/css/addPoll.css">
</head>
<body>
  <div id="pageContainer">
    <div id="rightBar">
    <h1><em><%=data.data[0].pollName%></em>
    <% let timeLeft=data.data[0].expiresOn-Date.now();%>
    <%var twitterText=`${data.data[0].pollName}. Vote now and decide who wins with VOTIVE.`; if (data.data[0].expiresOn) {%>
    <% if (timeLeft<=0) { twitterText=`${data.data[0].pollName}. The results are in! Powered by VOTIVE`; }}%>
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=<%=twitterText%>" data-size="large"></a>
  </h1>
  <div id="canvas">
    <div id="toggleButtons">
      <button id="chartToggle" value="bar">BAR</button>
      <button id="chartToggle" value="doughnut">DOUGHNUT</button>
      <canvas class="chart"></canvas>
    </div>
  </div>
  <% if (timeLeft>0) {%>
    <h3 style="color:#000000">Only <%=Math.floor(timeLeft/60000)%> minutes left to vote!</h3>
    <%}%>
    <%if (data.data[0].expiresOn) {%>
    <% if (timeLeft<=0) {%>
      <center><h1>THE POLL IS OVER!</h1></center><%}}%>
    <% if (timeLeft>0||data.data[0].expiresOn==='') {%>
    <div id="choiceContainer">
      <input type="hidden" id="hName" name="hName" value="<%=data.hName%>">
      <div class="selectStyle">
      <select name="vote" id="choose">
      <%let keys=Object.keys(data.data[0].votes);%>
      <%keys.forEach(k=>{%>
      <option value="<%=k%>"><button id="vote" value="<%=k%>"><%=k%></button></option>
      <%});%>
    </select>
  </div>
    <input type="submit" style="display:none"><button id="vote">VOTE</button></input><br />
    <%if (data.user!==undefined) {%><input type="text" class="poll" id="newOption" name="newOption" placeholder="...or add your own candidate!" /><%}%><br />
  </div>
  <%}%>
  <% include ../static/includes/nav.ejs %>
</div>
</div>
</body>
</html>
